<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zfg.org.myexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/login_top_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0df1bac3379f751492a49596b5083526" />
        <!-- 定位需要的服务 -->
        <!-- <service android:name="com.amap.api.location.APSService" ></service> -->

        <activity
            android:name="com.zfg.org.myexample.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".LoginActivity1"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".RemoteControlActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".zxing.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".HelpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PlanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MyPayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".pay.alipay.H5PayActivity"
            android:configChanges="orientation|keyboard|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <service
            android:name=".ble.service.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name=".ComBleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- <activity android:name="com.zfg.org.myexample.MapLocationActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" > -->
        <!-- </activity> -->

        <activity
            android:name=".RemoteControlWaterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".RemoteControlWaterTestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ErrorInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.HisInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.HisInfoActivity_bak"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SwichPowerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".QueryInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".RechargeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ReportusActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".OfficialNewsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".UploadExceptionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".UploadExceptionActivity_ys"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ReadingTaskActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.pay.alipay.PayDemoActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" > -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.MapStartActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" > -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.Battery_Saving_Activity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" > -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.Device_Sensors_Activity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" > -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.Hight_Accuracy_Activity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" > -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.LastLocation_Activity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" > -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.GeoFence_Activity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" > -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.Assistant_Location_Activity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" > -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.Alarm_Location_Activity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="stateAlwaysHidden" > -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.pay.alipay.H5PayDemoActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|navigation" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="behind" > -->
        <!-- </activity> -->
        <!-- alipay sdk begin -->
        <!-- <activity -->
        <!-- android:name="com.alipay.sdk.app.H5PayActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|navigation|screenSize" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="behind" -->
        <!-- android:windowSoftInputMode="adjustResize|stateHidden" > -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.pay.weipay.wxapi.WXEntryActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|navigation|screenSize" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="behind" -->
        <!-- android:windowSoftInputMode="adjustResize|stateHidden" > -->
        <!-- </activity> -->
        <activity
            android:name=".pay.weipay.wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.pay.weipay.PayActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|navigation|screenSize" -->
        <!-- android:exported="false" -->
        <!-- android:screenOrientation="behind" -->
        <!-- android:windowSoftInputMode="adjustResize|stateHidden" > -->
        <!-- </activity> -->


        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.basic.BasicMapActivity" -->
        <!-- android:label="@string/basic_map" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.basic.OsmMapActivity" -->
        <!-- android:label="@string/osm_map" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.basic.BaseMapFragmentActivity" -->
        <!-- android:label="@string/base_fragment_map" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.basic.CameraActivity" -->
        <!-- android:label="@string/camera_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.basic.EventsActivity" -->
        <!-- android:label="@string/events_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.basic.LayersActivity" -->
        <!-- android:label="@string/layers_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.basic.MapOptionActivity" -->
        <!-- android:label="@string/mapOption_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.basic.ScreenShotActivity" -->
        <!-- android:label="@string/screenshot_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.basic.UiSettingsActivity" -->
        <!-- android:label="@string/uisettings_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.overlay.MarkerActivity" -->
        <!-- android:label="@string/marker_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.overlay.PolylineActivity" -->
        <!-- android:label="@string/polyline_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.overlay.GroundOverlayActivity" -->
        <!-- android:label="@string/groundoverlay_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.overlay.PolygonActivity" -->
        <!-- android:label="@string/polygon_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.overlay.CircleActivity" -->
        <!-- android:label="@string/circle_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.location.LocationSourceActivity" -->
        <!-- android:label="@string/locationsource_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.location.LocationGPSActivity" -->
        <!-- android:label="@string/locationGPS_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.location.LocationSensorSourceActivity" -->
        <!-- android:label="@string/locationSensorGPS_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.location.LocationNetworkActivity" -->
        <!-- android:label="@string/locationNetwork_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.geocoder.GeocoderActivity" -->
        <!-- android:label="@string/geocoder_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.route.RouteActivity" -->
        <!-- android:label="@string/route_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.busline.BuslineActivity" -->
        <!-- android:label="@string/busline_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.poisearch.PoiKeywordSearchActivity" -->
        <!-- android:label="@string/poikeywordsearch_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.poisearch.PoiAroundSearchActivity" -->
        <!-- android:label="@string/poiaroundsearch_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.district.DistrictActivity" -->
        <!-- android:label="@string/district_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.district.DistrictWithBoundaryActivity" -->
        <!-- android:label="@string/district_boundary_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.cloud.CloudActivity" -->
        <!-- android:label="@string/cloud_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.cloud.CloudDetailActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.cloud.PreviewPhotoActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.share.ShareActivity" -->
        <!-- android:label="@string/share_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.weather.WeatherSearchActivity" -->
        <!-- android:label="@string/weather_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.basic.AbroadMapSwitchActivity" -->
        <!-- android:label="@string/abroad_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.poisearch.SubPoiSearchActivity" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustResize" -->
        <!-- android:label="@string/subpoi_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.route.DriveRouteDetailActivity" -->
        <!-- android:label="@string/route_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.route.WalkRouteDetailActivity" -->
        <!-- android:label="@string/route_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.route.BusRouteDetailActivity" -->
        <!-- android:label="@string/route_demo" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.zfg.org.myexample.amap.map2d.Map2dMainActivity" -->
        <!-- android:label="@string/poiaroundsearch_demo" -->
        <!-- android:screenOrientation="portrait" /> -->

        <receiver android:name=".service.NetReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".pay.weipay.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <service android:name=".service.DataService">
            <intent-filter>
                <action android:name="com.zfg.org.myexample.utils.sycn_data" />
            </intent-filter>
        </service>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- <service android:name="com.zfg.org.myexample.activity.alarm.AlarmKlaxon" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.dian.diabetes.ALARM_ALERT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->


        <!-- <receiver android:name="com.zfg.org.myexample.activity.alarm.AlarmReceiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="alarm_killed" /> -->
        <!-- <action android:name="cn.dian.diabetes.ALARM_ALERT" /> -->
        <!-- <action android:name="cn.ctibet.calendar.ALARM_DISMISS" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver android:name="com.zfg.org.myexample.activity.alarm.AlarmInitReceiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <service android:name="com.zfg.org.myexample.service.SoftWareUpdateService" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.zfg.org.myexample.utils.sycn_data" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <activity
            android:name=".TestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.ElectricityActivity1" />
        <activity android:name=".activity.WaterMeterActivity" />
        <activity android:name=".activity.GasMeterActivity" />
        <activity android:name=".activity.HeatMeterActivity" />
        <activity android:name=".activity.ElectricityActivity" />
        <activity android:name=".activity.MyTestActivity" />
        <activity android:name=".activity.DemoActivity" />
        <activity android:name=".activity.MyBaseActivity"></activity>
    </application>

</manifest>